{% extends 'layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="container">

		<h2>
			<small>Style34</small>Dashboard
		</h2>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">STYLE34</a></li>
				<li class="breadcrumb-item active" aria-current="page">Home</li>
			</ol>
		</nav>
	</div>


{% endblock %}
