<form class="form-inline" action="{{ url('profile-login') }}" method="post">
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" id="auth-icon"><i class="fa fa-fw fa-user"></i></span>
		</div>
		<input name="auth" type="text" class="form-control" placeholder="{% trans from 'profile' %}login-auth{% endtrans %}" aria-label="Username" aria-describedby="auth-icon">
	</div>

	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" id="password-icon"><i class="fa fa-fw fa-lock"></i></span>
		</div>
		<input name="password" type="text" class="form-control" placeholder="{% trans from 'profile' %}login-password{% endtrans %}" aria-label="Username" aria-describedby="password-icon">
	</div>

	<div class="form-check">
		<input name="remember-me" class="form-check-input" type="checkbox" value="" id="remember-me">
		<label class="form-check-label" for="remember-me">
			{% trans from 'profile' %}login-remember-me{% endtrans %}
		</label>
	</div>
</form>