{% extends '_layout/layout-frontend.html.twig' %}

{% block title %}{% trans from 'profile' %}request-reset-password{% endtrans %}{% endblock %}

{% block body %}

	<div class="container">

		<h2>{% trans from 'profile' %}request-reset-password{% endtrans %}</h2>
		<hr>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
				</li>
				{% if app.user %}
					<li class="breadcrumb-item">
						<a href="{{ url('user-view') }}">{{ app.user.getUsername() }}</a>
					</li>
				{% endif %}
				<li class="breadcrumb-item active" aria-current="page">
					{% trans from 'profile' %}request-reset-password{% endtrans %}
				</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col col-xs-12">
				<p>{% trans from 'profile' %}request-reset-password-desc{% endtrans %}</p>

				<form method="post">
					<div class="form-group">
						<label for="email">{% trans from 'profile' %}email{% endtrans %}</label>
						<input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{% trans from 'profile' %}email-registered{% endtrans %}">
					</div>

					<button type="submit" class="btn btn-primary">
						{% trans from 'profile' %}request-reset-password-button{% endtrans %}
					</button>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
