{% extends 'layout-frontend.html.twig' %}

{% block title %}{% trans from 'profile' %}reset-password{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'profile' %}reset-password{% endtrans %}</h2>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
                </li>
                {% if app.user %}
                    <li class="breadcrumb-item">
                        <a href="{{ url('user-view') }}">{{ app.user.getUsername() }}</a>
                    </li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans from 'profile' %}reset-password{% endtrans %}
                </li>
            </ol>
        </nav>

        <div class="row">
            <div class="col col-xs-12">
                <p>{% trans from 'profile' %}reset-password-desc{% endtrans %}</p>

                <form method="post">
                    <div class="form-group">
                        <label for="new-password">{% trans from 'profile' %}new-password{% endtrans %}</label>
                        <input name="new-password" type="password" class="form-control" id="new-password"
                               aria-describedby="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="new-password-check">{% trans from 'profile' %}new-password-check{% endtrans %}</label>
                        <input name="new-password-check" type="password" class="form-control" id="new-password-check"
                               aria-describedby="newPasswordCheck">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-fw fa-check"></i>
                        {% trans from 'profile' %}reset-password-button{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
