// Colors
//----------------------------------------------------------------------------------------------------------------------
$colorPrimary: #1C002D;
$colorSecondary: lighten($colorPrimary, 20%);
$colorWhite: #fff;

$theme-colors: (
		"primary": $colorPrimary,
);

// Sizes
//----------------------------------------------------------------------------------------------------------------------
$gutter: 30px;

// Imports
//----------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=latin-ext');
@import '../../public/libraries/bootstrap/scss/bootstrap';
@import 'frontend';
@import 'global';

// Profile
@import 'Profile/Registration/membership';

// Others
//----------------------------------------------------------------------------------------------------------------------
