// Colors
//----------------------------------------------------------------------------------------------------------------------
$colorPrimary: #1C002D;
$colorSecondary: lighten($colorPrimary, 20%);
$colorWhite: #fff;

// Imports
//----------------------------------------------------------------------------------------------------------------------
@import '../../public/libraries/bootstrap/scss/bootstrap';
@import 'frontend';
@import 'global';

// Others
//----------------------------------------------------------------------------------------------------------------------
