{% extends 'layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="container">

		<h2>{% trans from 'profile' %}request-reset-password{% endtrans %}</h2>
		<hr>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('home-index') }}">{{ constant('Style34\\Kernel::SITE_NAME') }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('profile-list') }}">{% trans from 'global' %}profiles{% endtrans %}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{% trans from 'profile' %}request-reset-password{% endtrans %}
				</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col col-xs-12">
				{% trans from 'profile' %}request-reset-password-desc{% endtrans %}</p>

				<form method="post">
					<div class="form-group">
						<label for="email">{% trans from 'profile' %}email{% endtrans %}</label>
						<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					</div>

					<button type="submit" class="btn btn-primary">
						{% trans from 'profile' %}request-reset-password-button{% endtrans %}
					</button>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
