{% extends 'emails/layout/email-layout.html.twig' %}

{% block preheader %}
	{% trans from 'email' %}profile-activation-preheader{% endtrans %}
{% endblock %}

{% block body %}
	<h2>{% trans from 'email' %}profile-activation-title{% endtrans %}</h2>
	<p>{% trans with {'%site%': constant('Style34\\Kernel::SITE_NAME')}  from 'email' %}profile-activation-heading{% endtrans %}</p>

	<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
		<tbody>
		<tr>
			<td align="left">
				<table role="presentation" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<td> <a href="{{ url('profile-registration-activate', {'tokenHash': token.getHash()}) }}" target="_blank"></a> {% trans from 'email' %}profile-activation-button{% endtrans %}</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>

{% endblock %}