{% extends '_emails/layout/email-layout.html.twig' %}

{% block preheader %}
	{% trans from 'email' %}profile-request-reset-password-preheader{% endtrans %}
{% endblock %}

{% block body %}
	<h2>{% trans from 'email' %}profile-request-reset-password-title{% endtrans %}</h2>
	<p>{% trans with {'%site%': constant('EryseClient\\Kernel::SITE_NAME')}  from 'email' %}profile-request-reset-password-heading{% endtrans %}</p>

	<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
		<tbody>
		<tr>
			<td align="left">
				<table role="presentation" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<td> <a href="{{ url('user-reset-password', {'tokenHash': token.getHash()}) }}" target="_blank">{% trans from 'email' %}profile-request-reset-password-button{% endtrans %}</a></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>

	<p>{% trans from 'email' %}profile-request-reset-password-bottom{% endtrans %}</p>

{% endblock %}