{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            {% for bc in breadcrumbs.items %}
                <li class="breadcrumb-item">

                    {% if bc.route %}
                        <a href="{{ url(bc.route) }}">
                            {{ bc.name }}
                        </a>
                    {% else %}
                        {{ bc.name }}
                    {% endif %}

                </li>
            {% endfor %}

        </ol>
    </nav>
{% endblock %}
