{% extends '_layout/layout-frontend.html.twig' %}

{% block title %}{% trans from 'user' %}edit{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'user' %}edit{% endtrans %}</h2>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('user-view-self') }}">{{ app.user.getUsername() }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans from 'user' %}edit{% endtrans %}
                </li>
            </ol>
        </nav>

    </div>


{% endblock %}
